<div class="card" style="margin-top: 20px">
  <div class="row">
      <div class="col-md-8 cart">
          <div class="title">
              <div class="row">
                  <div class="col"><h4><b>Shopping Cart</b></h4></div>
                  <div class="col align-self-center text-right text-muted">{{cartItems.length}} items</div>
              </div>
          </div>    
          <ng-container *ngFor="let item of cartItems" >
              
            <div class="row border-top border-bottom" >
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" [src]="item.item.image"></div>
                    <div class="col">
                        <div class="row text-muted">{{item.item.name}}</div>
                        <div class="row">{{item.item.description}}</div>
                    </div>
                    <div class="col">
                        <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                    </div>
                    <div class="col"> {{item.item.price | currency: 'USD'}}  <button (click)="removeItem(item)" class="close">&#10005;</button></div>
                </div>
            </div>
          </ng-container>
         
          
         
          <a class="back-to-shop" routerLink="/" > <span class="text-muted" > &leftarrow; Back to shop</span></a>
      </div>
      <div class="col-md-4 summary">
          <div><h5><b>Summary</b></h5></div>
          <hr>
          <div class="row">
              <div class="col" style="padding-left:0;">ITEM(S) {{cartItems.length}}</div>
              <div class="col text-right">{{ cartSum| currency: 'USD'}}</div>
          </div>
          <form>
              <p>SHIPPING</p>
              <select><option class="text-muted">Standard-Delivery- 5.00$</option></select>
              <p>GIVE CODE</p>
              <input id="code" placeholder="Enter your code">
          </form>
          <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
              <div class="col">TOTAL PRICE</div>
              <div class="col text-right">{{cartSum | currency: 'USD'}}</div>
          </div>
          <button class="btn">CHECKOUT</button>
      </div>
  </div>
  
</div>
